archive/
data/*
!data/extract.csv
!data/plots/

code/__pycache__/
code/.ipynb_checkpoints/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.config/
.cache/
.bash_history
.wget-hsts
.DS_Store

summary.md
